body {
    padding-top: 10px;

}

.image-web {
    padding-top: 15px;
}

ul li {
    float:right;
    list-style: none;
}

.nav-news {
    float: right;
}

.news-headlines h2 {
    font-family: 'Inter';
    color: hsl(240, 100%, 5%);
}

.news-headlines p {
    font-size: 15px;
}

.news-headlines button {
    width: 110px;
    padding: 5px;
    color: white;
    background-color: red;
    border: 0;
    text-transform: uppercase;
}