body {
    padding-top: 10px;

}

.image-web {
    padding-top: 15px;
}

ul li {
    float:right;
    list-style: none;
}

.nav-news {
    float: right;
}

.news-headlines h2 {
    font-family: 'Inter';
    color: hsl(240, 100%, 5%);
}

.news-headlines p {
    font-size: 15px;
    color: hsl(233, 8%, 79%);
}

.news-headlines button {
    width: 110px;
    padding: 5px;
    color: white;
    background-color: red;
    border: 0;
    text-transform: uppercase;
}

.news-blog {
   
    background-color: hsl(240, 100%, 5%);
}

.news-blog h2{
    position: relative;
    left: 20px;
    color: rgb(192, 150, 84);
}

.news-blog h3, .news-blog p {
    position: relative;
    left: 20px;
    color: white;
}




